<div style="
    background-color: #fafafa;
    width: 100%;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    box-sizing: border-box;
    padding-bottom: 25px;
    margin: 0;
  ">
    <div style="
      background: transparent;
      padding-top: 30px;
      padding-bottom: 20px;
      text-align: center;
    ">
        <img style="
        display: inline-block;
        height: 50px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
      " alt="ZERO NPC Logo" src="https://i.postimg.cc/nM8zzt3c/Group-19.png" />
    </div>
    <div style="
      background-color: #fff;
      color: #313131;
      font-size: 1em;
      border-top: 2px solid #313131;
      border-bottom: 1px solid #e6e6e6;
      box-sizing: border-box;
      padding: 25px;
      width: 100%;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    ">